#top-buttons-projects
{
    background-color: #303030;
}

#top-buttons-projects:hover
{
    background-color: #202020;
}

.blocks
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
}

.blocks div
{
    transition: 0.2s;
    background-color: #909090;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    height: 18em;
    width: 18em;
}

.blocks div:hover
{
    transition: 0.2s;
    background-color: #808080;
}

.blocks h2
{
    font-size: xx-large;
}

.blocks div a {
    text-decoration: none;
    color: black;
}