$main : #191919;
$dark :  #212223;
$text : #FFE5D4;
$highlight : #10FFCB;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    background-color: $main;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    color: $text;

    a{
        color: $highlight;
        text-decoration: none;
        font-weight: bold;
    }

    .top 
    {
        margin-top: 1em;
        ul{
            margin-top: 1em;
            display: flex;
            height: 25%;
            vertical-align: middle;
            margin: 0;
            padding-left: 0;
            li{
                background-color: $dark;
                background-color: linear-gradient($dark, $main, );
                border-radius: 10px;
                margin-left: 0.5em;
                margin-right: 0.5em;
                height: 25%;
                width: 45%;
                padding: 0.5em;
                padding-left: 2em;
                list-style: none;
                flex-grow: 1;
                flex-basis: 0%;
                flex-wrap: wrap;
                text-align: left;
                
                h1{
                    text-align: center;
                }

                h2{
                    text-align: left;
                    margin: 0;
                    margin-left: 0.5em;
                }
                ul{
                    text-align: left;
                    margin: 0;
                    li{
                        text-align: left;
                        padding: 0.5em;
                    }
                }
            }
        }
    }

    .projs{
        text-align: center;
        ul{
            margin-top: 1em;
            display: flex;
            height: 25%;
            vertical-align: middle;
            margin: 0;
            padding-left: 0;
            li{
                background-color: $dark;
                background-color: linear-gradient($dark, $main, );
                border-radius: 10px;
                margin-left: 0.5em;
                margin-right: 0.5em;
                padding-top: 2em;
                padding-bottom: 2em;
                height: 25%;
                width: 45%;
                padding: 0.5em;
                list-style: none;
                flex-grow: 1;
                flex-basis: 0%;
                flex-wrap: wrap;
                text-align: center;
            }
        }
    }
}