html
{
    scroll-behavior: smooth;
}

#go-up
{
    position: sticky;
    bottom: 0;
    right: 0;
    width: 5em;
    margin-left: auto;
    text-align: center;

    #scroll-to-about
    {
        
        background-color: rgb(30, 30, 30);
        border-radius: 1em 0 0 1em;

        a
        {
            text-decoration: none;
            color: white;
        }

        #scroll-down-button
        {
            font-size: xx-large;
            padding: 0.8em;
        }
    }
}

body
{
    background-color: rgb(22, 22, 22);
    color: white;
    margin-bottom: 0;


    #landing-view
    {
        
        height: 100%;
        width: 100%;
        position: relative;

        #top-bar
        {
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 0;
            margin: 0.5em;
            background-color: rgb(30, 30, 30);
            border-radius: 3em;

            #left-side
            {
                display: flex;
                margin-left: 3em;

                a
                {
                    transition: 0.2s;
                    margin: 1em;
                    text-decoration: none;
                    color: white;
                    position: relative;
                    font-size: larger;
                }

                a:hover
                {
                    transition: 0.2s;
                    color: lightblue;
                }

                a:after
                {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: lightblue;
                    transform-origin: bottom right;
                    transition: transform 0.15s ease-out;
                }

                a:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            #right-side
            {
                display: flex;

                a
                {
                    transition: 0.2s;
                    text-decoration: none;
                    color: white;
                }

                a:hover
                {
                    transition: 0.2s;
                    color: grey;
                }

                #icons
                {
                    font-size: 3em;
                    margin: 0.5em;
                }
            }
        }

        #big-hi-title
        {
            font-size: 8em;
            text-align: center;
            margin-bottom: 0;
        }

        #small-text-under-big-hi
        {
            text-align: center;
            font-size: larger;
            margin-top: 0;
        }
    }

    #other-pags
    {
        scroll-snap-type: y mandatory;

        div
        {
            scroll-snap-align: start;
        }

        #about-page
        {
            width: 100%;
            height: 100%;
            position: relative;
            padding-top: 1em;

            #about-title
            {
                text-align: center;
            }
        }

        #projects-page
        {
            width: 100%;
            height: auto;
            min-height: 100%;
            position: relative;
            padding-top: 0em;

            #projects-title
            {
                text-align: center;
                margin-bottom: 1em;
            }

            #projects-container
            {
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
                justify-content: space-around;
                gap: 2em;
                padding-left: 2em;
                padding-right: 2em;
                padding-bottom: 7em;

                div
                {
                    transition: 0.2s;
                    background-color: rgb(15, 15, 15);
                    border-radius: 1em;
                    flex-grow: 1;
                    text-align: center;
                    width: 20em;
                    
                    p
                    {
                        margin-left: 2em;
                        margin-right: 2em;
                    }
                }

                div:hover
                {
                    background-color: rgb(25, 25, 25);
                }
            }
        }

        #contact-page
        {
            width: 100%;
            height: 100%;
            position: relative;
            padding-top: 1em;

            #contact-title
            {
                text-align: center;
            }
        }
    }
}