body
{
    font-family: 'IBM Plex Mono';
    margin: 0;
    color: white;
    background-color: black;

    .top
    {
        .top-container
        {
            display: flex;
            justify-content: space-around;
            
            .top-button
            {
                width: 100%;
                height: 100%;
                border: 1px black solid;
                text-align: center;
            }
        }
    }

    .main
    {
        .background
        {
            display: flex;
            justify-content: space-around;
            

            .left-terminal
            {
                left: 0;
                width: 50%;
                border: 1px lime solid;
                padding-left: 1em;
            }

            .right-terminal
            {
                border: 1px white solid;
                border-left: 0;
                padding-left: 1em;
                .top-terminal
                {
                    height: 50%;
                    border-bottom: 1px white solid;
                }

                .bottom-terminal
                {
                    height: 50%;
                }

                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            p
            {
                font-size: small;
            }
        }

        .overlay
        {
            
        }

        .foreground
        {
            .centered
            {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 50%;
                height: 50%;
                transform: translate(-50%, -30%);
                text-align: center;

                h3
                {
                    margin: 0;
                }
                h1
                {
                    margin: 0.2em;
                    font-size: 500%;
                }
            }
        }
    }
}

.green-text
{
    color: lime;
}