#top-buttons-media
{
    background-color: #303030;
}

#top-buttons-media:hover
{
    background-color: #202020;
}

.centered
{
    display: flex;
    justify-content: space-around;
    width: 100% !important;
    transform: translate(0%, -40%) !important;
}

.centered .media
{
    transition: 0.5s;
    margin: auto;
    padding: 3em 6em 0 6em;
    border-radius: 2em;
    text-decoration: none;
    color: white;
}

.centered .media:hover
{
    transition: 0.5s;
    background-color: #202020;
}

.centered .media h2
{
    font-size: 300%;
}

.centered .media svg:hover
{
    transition: 0.5s;
    width: 130;
    height: 130;
}