#top-buttons-media
{
    background-color: #303030;
}

#top-buttons-media:hover
{
    background-color: #202020;
}

.blocks
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blocks a
{
    text-decoration: none;
    color: white;
}

.media-button
{
    transition: 0.2s;
    background-color: #ffffff00;
    border-radius: 2em;
    padding: 2em;
    width: 30em;
}

.media-button:hover
{
    transition: 0.2s;
    background-color: #ffffff0F;
}