$main-color : #1b262c;
$secondary : #0f4c75;
$light-color : #3282b8;
$text-color : #bbe1fa;

body
{
	margin: 0;
}

header
{
    background-color: $main-color;
    color: $text-color;
    text-align: center;
    height: 100px;
    width: 100%;
    overflow: visible;

    ul
    {
    	padding: 10px;
    	float: right;
    	margin: 20px, 10px;
    	list-style: none;
    	list-style-type: none;
    	margin-left: auto;
    	margin-right: auto;
    	display: inline-block;
    	line-height: 1.6;

    	li
    	{
    		
    		a
    		{
    			cursor: context-menu;
    			text-decoration: none;
    			color: $text-color;
    			padding: 10px;
    			background-color: $main-color;
   				border-radius: 5px;

   				#who-am-i
   				{
   					padding: 20px;
   					position: absolute;
   					background-color: $secondary;
   					border-radius: 10px;
   					display: none;
   					right: 10px;
   				}

   				#hobbies
   				{
   					padding: 20px;
   					position: absolute;
   					background-color: $secondary;
   					border-radius: 10px;
   					display: none;
   					right: 10px;
   				}

   				#languages
   				{
   					padding: 20px;
   					position: absolute;
   					background-color: $secondary;
   					border-radius: 10px;
   					display: none;
   					right: 10px;
   				}

    			&:hover
    			{
    				transition : 0.3s;
   					background-color: $secondary;

   					#who-am-i
   					{
   						transition: 0.5s;
   						display: block;
   					}
   					#hobbies
   					{
   						transition: 0.5s;
   						display: block;
   					}
   					#languages
   					{
   						transition: 0.5s;
   						display: block;
   					}
    			}
    		}

    		top: 10px;
    		margin: 20px;
    		display: inline;
    	}
    }
}


.image-title
{
	&:hover
	{
		transition: 0.3s;
		background-color: rgba(1,0,66,1);
	}
	transition: 0.3s;
	color: white;
	font-family: sans-serif;
	background-color: rgba(1,0,66,0.2);
	border-radius: 5px;
	padding: 1em;
	position: absolute;
	margin: 0;
	top: 50%;
	right: 50%;
	text-align: center;
	vertical-align: center;
}

.body
{
	padding: 50px;
	background-color: $main-color;
	color: $text-color;

	h1
	{
		margin: 0;
	}
}
