$main-color : #1b262c;
$secondary : #0f4c75;
$light-color : #3282b8;
$text-color : #bbe1fa;

body
{
	margin: 0;
}

header
{
    background-color: $main-color;
    color: $text-color;
    text-align: center;
    height: 100px;
    width: 100%;
    overflow: visible;

    ul
    {
    	padding: 10px;
    	float: right;
    	margin: 20px, 10px;
    	list-style: none;
    	list-style-type: none;
    	margin-left: auto;
    	margin-right: auto;
    	display: inline-block;
    	line-height: 1.6;

    	li
    	{
    		
    		a
    		{
    			cursor: context-menu;
    			text-decoration: none;
    			color: $text-color;
    			white-space: nowrap;
    			padding: 10px;
    			background-color: $main-color;
   				border-radius: 5px;

   				#who-am-i
   				{
   					padding: 20px;
   					position: absolute;
   					background-color: $secondary;
   					border-radius: 10px;
   					display: none;
   					right: 10px;
   				}

   				#hobbies
   				{
   					padding: 20px;
   					position: absolute;
   					background-color: $secondary;
   					border-radius: 10px;
   					display: none;
   					right: 10px;
   				}

   				#languages
   				{
   					padding: 20px;
   					position: absolute;
   					background-color: $secondary;
   					border-radius: 10px;
   					display: none;
   					right: 10px;
   				}

    			&:hover
    			{
    				transition : 0.3s;
   					background-color: $secondary;

   					#who-am-i
   					{
   						display: block;
   					}
   					#hobbies
   					{
   						display: block;
   					}
   					#languages
   					{
   						display: block;
   					}
    			}
    		}

    		top: 10px;
    		margin: 20px;
    		display: inline;
    	}
    }

    /*.link-right
    {
    	a
    	{
    		text-decoration: none;
    		color: $text-color;
    		white-space: nowrap;
    	}

    	float: right;
    	text-align: center;
    	padding: 10px;
    	margin: 15px;
    	right: 5em;
   		background-color: $secondary;
   		border-radius: 5px;
    	position: relative;
    }*/

}

.body
{
	padding: 50px;
	background-color: $main-color;
	color: $text-color;
	h1
	{
		margin: 0;
	}
}
