$main-color : #1b262c;
$secondary : #0f4c75;
$light-color : #3282b8;
$text-color : #bbe1fa;

body
{
	margin: 0;
}

header
{
    background-color: $main-color;
    color: $text-color;
    height: 50px;
    width: 100%;
    overflow: visible;

    ul
    {
    	padding: 10px;
    	float: left;
    	margin: 0;
    	list-style: none;
    	left: 10px;
    	list-style-type: none;

    	li
    	{
    		a
    		{
    			text-decoration: none;
    			color: $text-color;
    			white-space: nowrap;
    		}
    		padding: 10px;
    		margin: 20px;
   			background-color: $secondary;
   			border-radius: 5px;
    		display: inline;
    	}
    }

    .link-right
    {
    	a
    	{
    		text-decoration: none;
    		color: $text-color;
    		white-space: nowrap;
    	}

    	float: right;
    	text-align: center;
    	padding: 5px;
    	margin: 10px;
   		background-color: $secondary;
   		border-radius: 5px;
    	position: relative;
    }

}

.body
{
	background-color: $main-color;
	color: $text-color;
	width: 100%;
	height : 100%;
	h1
	{
		margin: 0;
	}
}
